# Python
backend/venv/
backend/__pycache__/
*.pyc
__pycache__/
*.py[cod]
*.pyo
# Environment files
backend/.env

# Local dev database (SQLite)
backend/*.db

# Uploads
# backend/uploads/

# Node
frontend/node_modules/

# Build files
frontend/dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

./claude
claude

# Logs
*.log